{% extends 'index.html' %}

{% block main_content %}
{% if not player_team_list %}
There are no players yet. Go add some!
{% else %}

<h4>Saved players</h4>
<div>
{% for message in get_flashed_messages() %}
<strong style="color:red">{{ message }}</strong>
{% endfor %}
</div>

<ul>
{% for player in player_team_list %}
    <li>{{ player }}
		<form method="POST" action="{{ url_for('delete', player_id=player.id)}}">
      	   {{ form.hidden_tag() }}
             {{ form.submit() }}
       </form>
	</li>
{% endfor %}
</ul>

{% endif %}



{% endblock %}
